/* your css code here */
*{
	margin:0;
	position:relative;
	height:100vh;
}
#eg-1{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:200px;
	height:200px;
	background-color: lightblue;
    border: 2px solid black;
	text-align:center;
	line-height:200px;
	color:purple;
}